[submodule "homework-4/foundry/hello_foundry/lib/forge-std"]
	path = homework-4/foundry/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "homework-4/foundry/block_number/lib/forge-std"]
	path = homework-4/foundry/block_number/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
